.cache
.dockerignore
.docusaurus
.git
.github
.gitignore
.vscode
/*.md
/build
/dist
/Dockerfile
/helm
/node_modules

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
